@{
    ViewBag.Title = "Home";
}
<ul class="cb-slideshow">
    <li>
        <span>Image 01</span>
        <div>
            <h3>re·lax·a·tion</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>re·lax</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>se·re·nity</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>spec·ta·cu·lar</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>a·maze</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>won·der</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3></h3>
        </div>
    </li>
</ul>
<div class="head" style="margin-top: 30px; margin-bottom: 20px;">
    <img src="https://cdn2.iconfinder.com/data/icons/large-svg-icons-part-3/512/camcorder_camcoder_camera-512.png"
         height="80" width="80" style="margin-top: -40px;" />&nbsp;&nbsp;<h style="font-size: 45px; margin-top: 100%;"> Video Rental Hub</h>
</div>
<div class="jumbotron">
    <p class="lead">ASP.NET MVC - compatible with the following:</p>
    <a href="http://www.apple.com/safari/" data-toggle="tooltip" data-placement="top" title="Safari" target="_blank">
        <i class="fa fa-safari" id="fa-safari"></i>
    </a>&nbsp;&nbsp;
    <a href="http://www.google.com/chrome/" data-toggle="tooltip" data-placement="top" title="Chrome" target="_blank">
        <i class="fa fa-chrome" id="fa-chrome"></i>
    </a>&nbsp;&nbsp;
    <a href="https://www.mozilla.org/en-US/firefox/new/" data-toggle="tooltip" data-placement="top" title="Firefox" target="_blank">
        <i class="fa fa-firefox" id="fa-firefox"></i>
    </a>&nbsp;&nbsp;
    <a href="https://www.microsoft.com/en-za/download/internet-explorer.aspx" data-toggle="tooltip" data-placement="top" title="Internet Explorer" target="_blank">
        <i class="fa fa-internet-explorer" id="fa-explorer"></i>
    </a>&nbsp;&nbsp;
    <a href="http://www.opera.com/" data-toggle="tooltip" data-placement="top" title="Opera">
        <i class="fa fa-opera" id="fa-opera" target="_blank">
        </i>
    </a>&nbsp;&nbsp;
    <a href="https://www.microsoft.com/en-za/windows/microsoft-edge" data-toggle="tooltip" data-placement="top" title="Microsoft Edge" target="_blank">
        <i class="fa fa-edge" id="fa-edge"></i>
    </a>&nbsp;&nbsp;
    <br />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="jumbotron" style="max-width: 400px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Add New User</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    </div>