@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "General" })
                <i class="fa fa-user" style="position:absolute; display:inline; top:6px;">&nbsp;</i>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" onclick="http://google.co.za">Log off</a>
                <i class="fa fa-power-off" style="position:absolute; display:inline; top:6px; color:#00ff21;">&nbsp;</i>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            <i class="fa fa-user-plus" style="position:absolute; display:inline; top:6px;">&nbsp;</i>
        <li id="test">
            <i class="fa fa-power-off" style="position:absolute; display:inline; top:6px; color:#c00909;">&nbsp;</i>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}